body{
    margin: 0;
}

.header{
    background: #eff0f2;
}

.header-nav{
    padding-top: 64px;
    margin-bottom: 204px;
}

.title{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 8px 7px rgba(0, 0, 0, .2);
    color: #505050;
}

.colored-text{
    background: #b2f2ee;
    padding: 2px 10px;
}

.header-button{
    text-transform: uppercase;
    width: calc(100% + 60px);
    height: 52px;
    border: 2px solid #777879;
    color: #777879;
    font-weight: 600;
    border-radius: 2px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: -30px;
    letter-spacing: 2px;
    font-size: 14px;
}

.btn-img{
    position: relative;
    top: 27px;
    left: 0;
}

.buttons{
    margin-top: 150px;
    padding-bottom: 195px;
}

.featured{
    padding-top: 130px;
    padding-bottom: 125px;
}
.title-big{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #343434;
}
.title-small{
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #888888;
    text-transform: uppercase;
}

.card-img{
    width: 100%;
    padding-top: 13px;
}

.text-big{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 28px;
    color: #646565;
}

.text-small{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #929393;
    display: block;
    width: 447px;
    font-weight: 500;
}

.about-us{
    background: #f8fafa;
    padding-top: 130px;
    padding-bottom: 115px;
}

.about-img{
    margin-top: 130px;
}

.all-text{
    margin-top: 155px;
    padding-left: 57px;
}

.title-text{
    padding-bottom: 120px;
}

.card{
    width: 100%;
    height: 365px;
    background-image: url(/images/s-image1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 0;
}

.card-big{
    height: 420px;
}

.card-first{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 55px 65px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.first-content{
    display: flex;
    flex-direction: column;
}

.content-title{
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 27px;
    word-spacing: 4px;
}

.content-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 60px;
}

.content-link{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.second-content{
    width: 100%;
    height: 100%;
    background: #6df6eb;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
    padding: 62px 115px 55px 65px;
    box-sizing: border-box;
}

.card-first:hover>.second-content{
    display:block;
}


.text-content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}